body{
	background-color: #f2f2f2;
	font-family: arial, sans-serif;
}
h1{
	text-align: center;
	margin-top: 20px;
}
form{
	max-width: 400px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
}
label{
	display: block;
	margin-bottom: 10px;

}
input{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius:5px;
}
button{
	padding: 10px 20px;
	background-color: #007bff;:5px;
	cursor: pointer;
	color: #fff;
	border-radius:5px;
	cursor: pointer;
}